.contenDetail{
    width: 51vw;
    margin: auto;
    display: flex;
    height: 100vh;
    justify-content: center;

    
}

.contenCard{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: fit-content;
    justify-content: center;
    width: 30vw;
    padding: 20px;
    margin: 10px;
    border: 7px double white;
    
}

.contenCard img{
    height: 300px;
    width: 400px;
}

.id, .stat{
    color: white; 
}

.stat{
    margin-left: 180px;
}

.name{
    color: white;
    align-self: center;
    font-size: 70px;
    text-shadow: 4px 4px 2px rgba(107,39,187);;
}



